.formularioCategoria{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px 50px;
    flex-wrap: wrap;
    gap: 25px;
}

.formulario{
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.08);
    border-radius: 20px;
    padding: 8px 100px;
    width: 50%;
    min-width: 650px;
}

.botones{
    display: flex;
    justify-content: space-evenly;
}

h2{
    font-size: 32px;
    font-weight: 400;
    color: #212121;
    text-align: center;
}

.detalle{
    display: flex;
}

.textoIcono{
    margin-left: 4px;
}